

/* lien typos  */

/* ? Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ? Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* variables */

:root {
    /*? colors */

    --primary-blue : #0BB3D8 ;
    --secondary-blue:  #2493C0;
    --focus-blue : #0077B6;
    --black: #0D0D0D ;
    --white : #F2F2F2;
    --grey : #A6A6A6;


    /* ? Typos  */

    --montserrat: "Roboto", sans-serif ;
    --roboto : "Montserrat", sans-serif;

    /* ? animation */

    --trans-text : all .6s ease-in-out;

}