/* main */
main {
    padding-top: 3%; 
    overflow: hidden;
}

.hero a {
    color: var(--white);
}

.hero {
    width: 100vw;
    height: 93vh; 
    position: relative;
    padding: 5%;
    color: var(--white);
    background: var(--pur-black);
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero h1 {
    font-size: 4rem;
    padding-bottom: 2vh;
    width: 50%;
    text-align: left;
}

.hero .hero-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 1;
}

.hero .hero-content h2 {
    font-size: 4rem;
    color: var(--primary-blue);
}

.hero-content p {
    font-size: 1rem;
    width: 80%;
}

.hero .hero-btns {
    display: flex;
    flex-direction: row; 
    gap: 2vw;
    padding-top: 4%;
}

.primary-btn {
    color: var(--white);
    background: var(--primary-blue);
    padding: 1rem 1.9rem;
    border-radius: var(--bradius-btn);
}

.hero .btn:hover {
    background: var(--secondary-blue);
    color: var(--white);
    border: none;
    transition: var(--trans-text);
} 

.secondary-btn {
    color: var(--white);
    background: var(--pur-black);
    border: var(--border-btn);
    padding: 1rem 1.8rem;
    border-radius: var(--bradius-btn);
}

.hero video {
    position: absolute;
    right: 0;
    height: auto;
    object-fit: cover;
    width: 40vw;
    transform: scale(1.4);
}

/* offre */

.offre img{
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}



    /* best sellers section  */


.wrapper {
    margin-top: 10vh;
    max-width: 100vw;
    padding: 0 10%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    margin-bottom: 10vh;
}

.wrapper h2, p {
    text-align: center;
   
} 
.wrapper h2 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 10px;
}

.wrapper p {
    font-size: 1rem;
    color: var(--section-p);
    max-width: 600px;
}

.wrapper #left, #right {
   height: 50px;
   width: 50px;
   background: #000;
   color: #fff;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   top: 50%;
   font-size: 1.25rem;
   transform: translateY(-50%);
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
   z-index: 10;
}

.wrapper #left{
    left: 2vw;
}

.wrapper #right {
    right: 2vw;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% /3) - 12px) ;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card )
 {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .carousel.no-transition {
    scroll-behavior: auto;
 }

 .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
 }

 .carousel.dragging .card {
    cursor: grab;
    user-select: none;
 }


.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .6s ;
}

.col-img {
    overflow: hidden;
    border-radius: 28px;

}

.col-img img {
    display: block;
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.col-img:hover img{
    transform: scale(1.05);
}

.col-icon {
    position: absolute;
     bottom: 20px;
     right: 60px;
     z-index: 1;
}

.col-icon a{
  display: block;

}

.col-icon i {
    margin-bottom: 20px ;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: all .6s;
}

.card:hover .col-icon i{
    opacity: 1;
    transform: rotate3d(0, 0, 1, 360deg) scale(1.03);
}

.wrapper #left, #right {
    width: 45px;
    height: 45px;
}




/* perso section */
.visually-hidden {
    display: none;
}


.perso {
    background: var(--pur-black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.perso article {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    width: 50%;
}

.perso article h2 {
    font-size: 3rem;
}

.perso article p {
    text-align: left;
}

.perso article a {
    width: 15vw;
    text-align: center;
}

.perso .btn {
    color: var(--white);
    background: var(--primary-blue);
    width: 30vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--bradius-btn);
}



/* services section  */


.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}



.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.service-content h2 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 10px;
}

.service-content p {
    font-size: 1rem;
    color: var(--section-p);
    max-width: 600px;
}

.services-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 30vh;
    max-width: 300px;
}

.service-card figure {
    margin: 0;
    margin-bottom: 15px;
}

.service-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.service-card h3 {
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 7px;
}

.service-card p {
    font-size: 0.9rem;
    color: var(--section-p);
}


/* newsletter section */

.newsletter {
    background: var(--pur-black);
    color: var(white);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 80%;
    margin: 0 auto;
    height: 20vh;
    border-radius: 32px;
    padding: 0 3%;
}

/* Title */
.newsletter h2 {
    color: var(--white);
    text-decoration: underline;
    font-size: 1.9rem;
    width: 20vw;
}



/* Form */
.newsletter form {
    display: flex;
    flex-direction: column; 
    gap: 1vh;
}

.newsletter form input {
    padding-left: 1vw;
}

.newsletter form .btn {
    background: var(--primary-blue);
    font-weight: bold;
    color: var(--white);
}

.newsletter form input, .btn {
    width: 20vw;
    height: 6vh;
    border-radius: 32px;
}















@media (max-width: 1024px) {
    main {
        padding-top: 50px;
    }

    /* header reponsive tablet */

    .hero {
        height: 93vh; 
        padding: 8%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .hero h1 {
        font-size: 4rem;
        width: 90%; 
        text-align: center; 
    }

    .hero .hero-content {
        width: 80%;
        align-items: center;
        text-align: center;
    }
    .hero h1 {
        font-size: 1.9rem;
    }

    .hero .hero-content h2 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero .hero-btns {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 7vh; 
        padding-top: 4%;
    }



    .primary-btn,
    .secondary-btn {
       width: 30vw;
        font-size: 1.2rem; 
        border-radius: 32px; 
    }




    .hero video {
        display: none; 
    }



    
    /* best sellers section responsive */
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 12px); 
    }

    .col-icon {
         bottom: 10vh;
         right: 2vw;
    }

    .col-icon i {
        width: 32px;
        height: 32px;
    }



    /* perso section  */

    .perso {
        flex-direction: column;
        padding: 5%;
        text-align: center;
    }

    .perso article {
        width: 90%; 
        align-items: center;
        text-align: center;
    }

    .perso article h2 {
        font-size: 2.5rem; 
    }

    .perso article p {
        font-size: 1.2rem;
    .perso article a {
        width: auto; 
        padding: 1rem 2rem;
        font-size: 1rem;
    }


    .services {
        padding: 40px 15px;
    }

    .service-content h2 {
        font-size: 1.8rem;
    }

    .service-content p {
        font-size: 1rem;
    }

    .services-cards {
        flex-direction: column;
        gap: 30px;
    }

    .service-card {
        max-width: 90%;
        height: auto;
        padding: 15px;
    }

    .service-card h3 {
        font-size: 1.2rem;
    }

    .service-card p {
        font-size: 0.9rem;
    }



    /* newsletter section */
    .newsletter {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        padding: 4% 5%; 
        height: auto; 
        
    }

    .newsletter h2 {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .newsletter form {
        display: flex;
        flex-direction: column; 
        gap: 2vh;
        width: 100%;
        align-items: center;
    }

    .newsletter form input, 
    .newsletter form .btn {
        width: 80%;
        height: 6vh;
        border-radius: 32px;
        font-size: 1rem;
        padding-left: 1rem;
    }

    .newsletter form .btn {
        background: var(--primary-blue);
        font-weight: bold;
        color: var(--white);
    }


}

    
    

}

@media (max-width: 480px) {
    main {
        padding-top: 3%;
    }

    /* header responsive mobile */

    .hero {
        height: 100vh; 
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 2rem;
        width: 90%;
        text-align: center;
    }

    .hero .hero-content {
        width: 100%;
        text-align: center;
    }


    .hero .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.85rem;
    }

    .hero .hero-btns {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 7vh; 
        padding-top: 4%;
    }


    .primary-btn,
    .secondary-btn {
        padding: 1.2rem 2.5rem; 
        font-size: 1rem; 
        border-radius: 32px; 
    }

    .hero video {
        display: none; 
    }

    /* best sellers section responsive */

    .wrapper .carousel {
        grid-auto-columns: 100%; 
    }

    .wrapper #left,
    .wrapper #right {
        position: absolute;
        bottom: -60px; 
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

 
    .wrapper #left {
        left: 50%;
        transform: translateX(-15vw) translateY(27vh);
    }

    .wrapper #right {
        left: 50%;
        transform: translateX(5vw) translateY(27vh);
    }

    .carousel .card .col-icon {
        position: absolute;
        bottom: 20px;
        right: 10px; 
        z-index: 1;
    }



        /* perso section */

        .perso article {
            order: 2;
        }

        .perso {
            margin-top: 20%;
            padding: 3%;
            text-align: center;
        }
    
        .perso article {
            width: 100%; 
            align-items: center;
            text-align: center;
        }
    
        .perso article h2 {
            font-size: 1.8rem;
        }
    
        .perso article p {
            font-size: 1rem;
            text-align: center;
        }
    
        .perso article a {
            width: 100vw; 
            padding: 0.8rem 1.5rem;
            font-size: 0.9rem;
        }

        .perso img {
            width: 70vw;
            height: 70vw;
            object-fit: cover;
        }

        .perso .btn {
            width: 70vw;
        }
        .services {
            padding: 30px 10px;
        }
    
        .service-content h2 {
            font-size: 1.5rem;
        }
    
        .service-content p {
            font-size: 0.9rem;
        }
    
        .services-cards {
            flex-direction: column;
            gap: 20px;
        }
    
        .service-card {
            padding: 10px;
            max-width: 100%;
            height: auto;
        }
    
        .service-card h3 {
            font-size: 1rem;
        }
    
        .service-card p {
            font-size: 0.85rem;
        }



        /* newsletter section  */
        .newsletter {
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center; 
            padding: 5% 3%; 
            height: auto; 
        }
    
        .newsletter h2 {
            font-size: 1.4rem;
            width: 90%;
            text-align: center;
            margin-bottom: 10px;
        }
    
        .newsletter form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            align-items: center;
        }
    
        .newsletter form input, 
        .newsletter form .btn {
            width: 90%;
            height: 6vh;
            border-radius: 32px;
            font-size: 1rem;
            padding-left: 1rem;
        }
    
        .newsletter form .btn {
            background: var(--primary-blue);
            font-weight: bold;
            color: var(--white);
        }
     

        
}


@media (min-width: 540px) and (max-width: 720px) {
    .services-cards {
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }

    .service-card {
        max-width: 95%;
        margin: auto;
    }

     /* newsletter section  */
     .newsletter {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        padding: 5% 3%; 
        height: auto; 
    }
    .newsletter h2 {
        font-size: 1.4rem;
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
    }
 
    .newsletter form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }

    .newsletter form input, 
    .newsletter form .btn {
        width: 90%;
        height: 6vh;
        border-radius: 32px;
        font-size: 1rem;
        padding-left: 1rem;
    }

    .newsletter form .btn {
        background: var(--primary-blue);
        font-weight: bold;
        color: var(--white);
    }
 

   
}

