/* main */
main {
    padding-top: 3%; 
    overflow: hidden;
}

.hero a {
    color: var(--white);
}

.hero {
    width: 100vw;
    height: 93vh; 
    position: relative;
    padding: 5%;
    color: var(--white);
    background: var(--pur-black);
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero h1 {
    font-size: 4rem;
    padding-bottom: 2vh;
    width: 50%;
    text-align: left;
}

.hero .hero-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 1;
}

.hero .hero-content h2 {
    font-size: 4rem;
    color: var(--primary-blue);
}

.hero-content p {
    font-size: 1rem;
    width: 80%;
}

.hero .hero-btns {
    display: flex;
    flex-direction: row; 
    gap: 2vw;
    padding-top: 4%;
}

.primary-btn {
    color: var(--white);
    background: var(--primary-blue);
    padding: 1rem 1.9rem;
    border-radius: var(--bradius-btn);
}

.hero .btn:hover {
    background: var(--secondary-blue);
    color: var(--white);
    border: none;
    transition: var(--trans-text);
} 

.secondary-btn {
    color: var(--white);
    background: var(--pur-black);
    border: var(--border-btn);
    padding: 1rem 1.8rem;
    border-radius: var(--bradius-btn);
}

.hero video {
    position: absolute;
    right: 0;
    height: auto;
    object-fit: cover;
    width: 40vw;
    transform: scale(1.4);
}

/* offre */

.offre img{
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}



    /* best sellers section  */


.wrapper {
    max-width: 100vw;
    padding: 0 10%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    margin-bottom: 5vh;
}

.wrapper h2, p {
    text-align: center;
   
} 

.wrapper #left, #right {
   height: 50px;
   width: 50px;
   background: #000;
   color: #fff;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   top: 50%;
   font-size: 1.25rem;
   transform: translateY(-50%);
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
   z-index: 10;
}

.wrapper #left{
    left: 2vw;
}

.wrapper #right {
    right: 2vw;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% /3) - 12px) ;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card )
 {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .carousel.no-transition {
    scroll-behavior: auto;
 }

 .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
 }

 .carousel.dragging .card {
    cursor: grab;
    user-select: none;
 }


.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all .6s ;
}

.col-img {
    overflow: hidden;
    border-radius: 28px;

}

.col-img img {
    display: block;
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.col-img:hover img{
    transform: scale(1.05);
}

.col-icon {
    position: absolute;
     bottom: 20px;
     right: 60px;
     z-index: 1;
}

.col-icon a{
  display: block;

}

.col-icon i {
    margin-bottom: 20px ;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: all .6s;
}

.card:hover .col-icon i{
    opacity: 1;
    transform: rotate3d(0, 0, 1, 360deg) scale(1.03);
}


/* perso section */
.visually-hidden {
    display: none;
}


.perso {
    background: var(--pur-black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.perso article {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    width: 50%;
}

.perso article h2 {
    font-size: 3rem;
}

.perso article p {
    text-align: left;
}

.perso article a {
    width: 15vw;
    text-align: center;
}



@media (max-width: 1024px) {
    main {
        padding-top: 50px;
    }

    /* header reponsive tablet */

    .hero {
        height: 93vh; 
        padding: 8%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .hero h1 {
        font-size: 4rem;
        width: 90%; 
        text-align: center; 
    }

    .hero .hero-content {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .hero .hero-content h2 {
        font-size: 4rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .hero .hero-btns {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 7vh; 
        padding-top: 4%;
    }

    .primary-btn,
    .secondary-btn {
        padding: 1.5rem 3rem; 
        font-size: 1.2rem; 
        border-radius: 32px; 
    }

    .hero video {
        display: none; 
    }

    
    /* best sellers section responsive */
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 12px); /* Affiche 2 cartes */
    }


    /* perso section  */

    .perso {
        flex-direction: column;
        padding: 5%;
        text-align: center;
    }

    .perso article {
        width: 90%; /* Occupe une plus grande largeur pour tablette */
        align-items: center;
        text-align: center;
    }

    .perso article h2 {
        font-size: 2.5rem; /* Taille de texte ajustée pour tablette */
    }

    .perso article p {
        font-size: 1.2rem; /* Taille de texte ajustée pour une meilleure lisibilité */
    }

    .perso article a {
        width: auto; /* Bouton adapté à la taille du contenu */
        padding: 1rem 2rem;
        font-size: 1rem;
    }

}

@media (max-width: 480px) {
    main {
        padding-top: 3%;
    }

    /* header responsive mobile */

    .hero {
        height: 100vh; 
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 2rem;
        width: 90%;
        text-align: center;
    }

    .hero .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.85rem;
    }

    .hero .hero-btns {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 7vh; 
        padding-top: 4%;
    }

    .primary-btn,
    .secondary-btn {
        padding: 1.2rem 2.5rem; 
        font-size: 1rem; 
        border-radius: 32px; 
    }

    .hero video {
        display: none; 
    }

    /* best sellers section responsive */

    .wrapper .carousel {
        grid-auto-columns: 100%; /* Affiche 1 carte */
    }

    /* Positionner les flèches côte à côte sous le carrousel */
    .wrapper #left,
    .wrapper #right {
        position: absolute;
        bottom: -60px; /* Positionner les flèches sous le carrousel */
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    /* Positionnement côte à côte des flèches */
    .wrapper #left {
        left: 50%;
        transform: translateX(-15vw) translateY(27vh);
    }

    .wrapper #right {
        left: 50%;
        transform: translateX(5vw) translateY(27vh);
    }

    /* Assurer que .col-icon reste dans la carte en mobile */
    .carousel .card .col-icon {
        position: absolute;
        bottom: 20px;
        right: 10px; /* Ajuster selon les besoins pour qu'il reste dans la carte */
        z-index: 1;
    }



        /* perso section */

        .perso article {
            order: 2;
        }

        .perso {
            padding: 3%;
            text-align: center;
        }
    
        .perso article {
            width: 100%; /* Prend toute la largeur en mobile */
            align-items: center;
            text-align: center;
        }
    
        .perso article h2 {
            font-size: 1.8rem; /* Taille de texte réduite pour mobile */
        }
    
        .perso article p {
            font-size: 1rem; /* Ajustement pour le mobile */
            text-align: center;
        }
    
        .perso article a {
            width: auto; /* Le bouton s'ajuste à la taille du contenu */
            padding: 0.8rem 1.5rem;
            font-size: 0.9rem;
        }


        
}
